@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--raleway);
}

:root {
    --mont-carlo: "MonteCarlo", serif;
    --raleway: "Raleway", serif;
    --red: #F93827;
    --yellow: #FFD65A;
    --yellow-dark: #FF9D23;
    --green: #16C47F;
    --black: #000;
    --white: #fff;
}


.header {
    /* background-color: var(--yellow); */
    padding: 20px 10px;
}

.header .main-heading {
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    color: var(--red);
    font-family: var(--mont-carlo);
}

.sub-heading{
    font-size: 22px;
    line-height: 2;
    padding-bottom: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: var(--yellow-dark);
    border-bottom: 2px solid var(--yellow-dark)
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.form {
    padding: 50px 0;
}

.form .input-box {
    margin-bottom: 20px;
}

.form .input-box input {
    padding: 10px 20px;
    border: 2px solid var(--green);
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 4px;
    font-weight: 600;
    color: var(--green);
}

.form .input-box input:focus {
    outline: none;
}

.form .input-box input::placeholder {
    color: var(--green);
}

.form .submit-box button {
    padding: 7px;
    background-color: var(--green);
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    border-radius: 4px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    border: 2px solid var(--green);
    letter-spacing: 0.5px;
    transition: 200ms ease-in-out;
}

.form .submit-box button:hover {
    background-color: var(--white);
    color: var(--green);
}



.section .todo-list-wrapper .todo-item-wrapper .heading {
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
}

.section .todo-list-wrapper .todo-item-wrapper button {
    padding: 7px 14px;
    background-color: var(--red);
    font-size: 14px;
    line-height: 1.2;
    border-radius: 4px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    border: 2px solid var(--red);
    letter-spacing: 0.5px;
    transition: 200ms ease-in-out;
}

.section .todo-list-wrapper .todo-item-wrapper button:hover {
    color: var(--red);
    background-color: var(--white);
}

.section .todo-list-wrapper .todo-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid var(--green);
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 20px;
    /* flex-wrap: wrap; */
}